<fieldset class="left half-padding">
  <legend>General Info</legend>
  
  <% form_for :profile, :url => profile_url(@profile), :html => {:method=>:put } do |p| %>    
    
    <p class="block required">
      <label for="profile_display_name">Alias</label>
      <span class="block info">This is your nickname, if you go by one. Across the site this is what people will see. This can be your real name or an alias, but must be unique here on ArcadeFly.</span>
      <%= error_message_on(@profile, :display_name, {:prepend_text => "Alias "}) %>
      <%= p.text_field :display_name, { :class => 'text'} %>
    </p>

    <p class="block">
      <label for="profile_full_name">Real Name</label>
      <span class="block info">We'll show your real name in your profile if you want people to see it. Some people put first, some put last -- whatever works for you.</span>
      <%= error_message_on(@profile, :full_name, {:prepend_text => "Full Name "}) %>
      <%= p.text_field :full_name, { :class => 'text'} %>
    </p>
    
    <p class="block">
      <label for="profile_initials">Initials</label>
      <span class="block info">The initials you leave when you get a high score.</span>
      <%= error_message_on(@profile, :initials, {:prepend_text => "Initials "}) %>
      <%= p.text_field :initials, { :class => 'text'} %>
    </p>
    
    <p class="block">
      <label for="profile_website">Website</label>
      <span class="block info">This should start with http://</span>
      <%= error_message_on(@profile, :website, {:prepend_text => "Website "}) %>
      <%= p.text_field :website, { :class => 'text' } %>
    </p>

    <p class="block">
      <label for="profile_aim_name">AIM Name</label>
      <%= error_message_on(@profile, :aim_name, {:prepend_text => "AIM Name "}) %>
      <%= p.text_field :aim_name, { :class => 'text'} %>
    </p>
    
    <p class="block">
      <label for="profile_gtalk_name">GTalk Name</label>
      <span class="block info">Only logged in users will be able to view this.</span>
      <%= error_message_on(@profile, :gtalk_name, {:prepend_text => "GTalk Name "}) %>
      <%= p.text_field :gtalk_name, { :class => 'text'} %>
    </p>

    <p class="block">
      <label for="profile_msn_name">MSN Chat Name</label>
      <span class="block info">Only logged in users will be able to view this.</span>
      <%= error_message_on(@profile, :msn_name, {:prepend_text => "MSN Name "}) %>
      <%= p.text_field :msn_name, { :class => 'text'} %>
    </p>

    <p class="block">
      <label for="profile_about_me">About Me</label>
      <span class="block info">
        This is for info about you, not javascript, styles or forms. This isn't MySpace after all.<br/>Want something to write about? Here's a few ideas to get those brain juices flowing... 
        What arcades and games do you love? Do you prefer arcades or console games -- and why? How long have you been gaming? If people in your area want to hang out, how shouold they contact you?
        <br/><br/>You Can use the following tags: <%= ALLOWED_HTML_TAGS.join(', ') %>
      </span>
      <%= error_message_on(@profile, :about_me, {:prepend_text => "About Me "}) %>
      <%= p.text_area :about_me, { :class => 'text'} %>
    </p>
     
    <p class="block">
      <%= p.submit "Update My Information", :class => "button", :disable_with => 'Updating Information...', :id => "profile_submit_general" %>
      <input type="hidden" name="switch" value="name" />
    </p>
    
  <% end %>
</fieldset>

<div class="right half-padding">

  <fieldset id="upload_icon">
    <legend>Set Your Icon</legend>
    <p>
      Avatars for ArcadeFly are currently set using <a href="http://en.gravatar.com/" target="_blank">Gravatar</a>. Here's what you need to do to setup a Gravatar:
    </p>
    <ol>
      <li>Create an account on <a href="http://en.gravatar.com/" target="_blank">Gravatar</a>.</li>
      <li>Add the email address you used to signup here at ArcadeFly -- <strong><%= @profile.email %></strong>.</li>
      <li>Upload an icon! It should show up in your profile here on ArcadeFly right away!</li>
    </ol>
  </fieldset>
  
  <fieldset id="change_address">
    <legend>Change My Address</legend>
    <% form_for :profile, :url => profile_url(@profile), :html=>{:method=>:put } do |p| %>
      <%= render :partial => 'shared/address', :locals => { :address => @profile.address } %>
    
      <p class="block">
        <input type="hidden" name="switch" value="address" />
        <%= p.submit 'Change My Address', :class => 'button', :disable_with => 'Changing Address...', :id => "profile_submit_address" %>
      </p>
    <% end %>
  </fieldset>


  <fieldset id="change_passwords">
    <legend>Change Password</legend>
    <% form_for :user, :url => profile_url(@profile), :html=>{:method=>:put } do |p| %>
      
      <p class="block required">
        <label for="verify_password">Current Password</label>
        <%= error_message_on @user, :verify_password %>
    
        <% if @user.errors[:verify_password] %><div class="fieldWithErrors"><% end %>
          <input type="password" name="verify_password" id="verify_password" class="text" />
        <% if @user.errors[:verify_password] %></div><% end %>        
      </p>

      <p class="block required">
        <label for="password">New Password</label>
        <%= error_message_on @user, :password %>
         <%= p.password_field :password, { :class => 'text', :value => ''} %>
      </p>

      <p class="block required">
        <label for="confirm_password">Confirm New Password</label>
        <%= error_message_on @user, :confirm_password %>
         <%= p.password_field :password_confirmation, { :class => 'text', :value => ''} %>
      </p>
    
      <p class="block">
        <%= p.submit 'Change My Password', :class => 'button', :disable_with => 'Changing Password...', :id => "profile_submit_password"  %>
        <input type="hidden" name="switch" value="password" />
      </p>
    <% end %>
  </fieldset>


  <fieldset id="change_emails">
    <legend>Change Email</legend>
    <div class='formError'>Cannot change email addresses yet! Coming soon.</div>
    <% end %>
  </fieldset>


  <fieldset id="delete_account">
    <legend>Delete Account</legend>
    <p>This will completely remove your account and all information about it. This cannot be undone!</p>
    <p><%= link_to_remote 'Delete my user account and all my data.', :url => profile_path(current_profile), :method => :delete, :confirm => DELETE_CONFIRM  %></p>
  </fieldset>
</div>