<hr class="clear" />

<div>
  <div class="left map_box_width">

    <% if current_session.addressed_in? %>
      <span class="block">
      <label for="">Only show players within:</label>
      <% form_tag ranges_path, :id => 'range_form' do %>
        <%= select("session", 
                   "profile_range", 
                   [['Everywhere', ''], ['5 miles', 5], ['10 miles', 10], ['25 miles', 25], ['50 miles', 50], ['100 miles', 100], ['250 miles', 250], ['500 miles', 500], ['1,000 miles', 1000], ['5,000 miles', 5000] ],
                   {:selected => current_session.profile_range },
                    :class => 'text',
                    :onchange => "javascript:$('#range_form').submit();"
                   ) %>
      <% end %>
      </span>
      <p>
        <em>Filtering by distance will exclude all players who haven't added an address.</em>
      </p>
    <% end %>
  </div>


  <div class="right">
    <h3>Sort Profiles By...</h3>
    <ul>
      <%= nav_link "Sort by Name", "?order=name" %>
      <%- if current_session.addressed_in? %>
      <%= nav_link "Sort by Distance", "?order=distance" %>
      <%- end -%>
      <%= nav_link "Sort by Number of Favorite Games", "?order=games" %>
      <%= nav_link "Sort by Number of Favorite Arcades", "?order=arcades" %>
    <ul>
  </div>
</div>
