<li<%= cycle(' class="even"','')%>>

  <span class="title">
    <%= link_to(profile_map.display_name, profile_path(profile_map)) %>
  </span>
  
  <span class="marker">
    <a href="#" onclick="profile_group.showMarker('<%= profile_map.maplink %>');return false;">Show »</a>
  </span>
  
  <div class="clear soft">
  	<div class="left">
      <p><%= profile_map.address.shortest_line -%></p>
  	</div>
  	
  	<div class="right">
      <% if current_session.addressed_in? -%>
        <%= profile_map.address.distance_to(current_session.address).round_to(2) %> miles away<br />
      <% end %>
      <%= link_to pluralize(profile_map.favoriteships.size, "game"), profile_games_path(profile_map), :class => 'games' %> 
      <%= link_to pluralize(profile_map.frequentships.size, "favorites"), profile_arcades_path(profile_map), :class => 'users' %>
    </div>
  </div>
</li>