<%- parent ||= :user -%>

<li class="<%= cycle("even","odd")%>">
  <% if logged_in? && administrator? -%>
  <ul class="left-shift admin">
    <li><%= link_to 'Edit', edit_profile_path(profile), :class => 'admin' %></li>
    <li><%= link_to 'Destroy', profile_path(profile), :class => 'admin', :confirm => 'Are you sure?', :method => :delete %></li>
  </ul>
  <% end %>

	<%= link_to(profile.display_name, profile_path(profile), :class => 'main' ) %>
	
	<span class="count">
	  <% if parent == :profile %>
	    <% if profile.has_address? %>Lives in <%= profile.address.short_line %><% end %>
	  <% elsif parent == :arcade %>
	    <%= pluralize(profile.frequentships_count, "favorite arcade") %>
	  <% elsif parent == :game %>
	    <%= pluralize(profile.favoriteships_count, "favorite games") %>
	  <% end %>
	
  	<span class="favorite">
  	  <% if logged_in? && me %>
  	    <% if current_profile.friend_of?(profile) || current_profile.following?(profile) %>
  	      <%= link_to "&nbsp;", profile_friends_path(profile)+'/'+profile.to_param, { :method => "delete", :class => "favorite user_delete" } %>
  	    <% else %>
          <%= link_to "&nbsp;", profile_friends_path(profile), { :method => "post", :class => "favorite user_add" } %>
  	    <% end %>
  	  <% end %>
  	</span>
  </span>
</li>