<% title 'Favorite Arcades for ' + @profile.display_name -%>

<% content_for(:header) do %>
  <%= GMap.header %>
  <%= javascript_include_tag("markerGroup") %>
	<%= @map.to_html %>
<% end %>

<%= render :partial => 'profiles/menu', :locals => { :profile => @profile, :map => true } %>

<div class="tabbed-map">
  <ul class="left data span-10 scrollable content-height map shift-1 content map_list">
    <%= render :partial => 'arcades/arcade_map', :collection => @arcades %>
  </ul>

  <%= @map.div(:class => 'right prepend-1 span-13 last map_medium content-height map') %>
</div>

<p>
  <%= will_paginate @arcades %>
</p>