<% title "List Players #{separator + params[:search] unless params[:search].blank?}" %>
<%= render :partial => 'profiles/list_menu' %>

<% tabbed_box do %>
  <h1><%= @title %></h1>

  <div id="controller_search">
    <% form_for(:profile, profiles_path, :html => { :method => 'get' }) do |f| %>
      <label id="search_label" for="search">Search for a profile...</label>
      <%= text_field_tag :search, '', { :class => 'text', :onfocus => 'toggleLabel("search", false);', :onblur => 'toggleLabel("search", true);' } %>  
      <%= submit_tag "Search!", { :disable_with => 'Searching...' } %>
    <% end %>
  </div>

  <%= render :partial => 'shared/letters', :locals => { :controller => 'profiles', :action => 'list' } %>

  <%= render :partial => 'profiles/profiles', :object => @profiles %>
<% end %>