<%- title "Profile for #{@profile.display_name}" -%>

<%= render :partial => 'menu', :locals => { :profile => @profile} %>

<% if @profile.has_address? %>
  <% content_for(:header) do %>
    <%= GMap.header %>
  	<%= @map.to_html %>
  <% end %>
<% end %>

<% tabbed_box do %>
  
  <div id="profile_overview" class="map_box">
    <div class="overview left_column">
      <div class="left avatar"><%= icon @profile, :big %></div>
      <div class="right bio_stuff">
        <h2><%= h @profile.display_name %></h2>
        <% unless @profile.full_name.blank? %><div><strong>Real Name:</strong> <%=@profile.full_name%></div><% end %>
    	  <% if @profile.has_address? %><h3><%= location_link @profile %></h3><% end %>
    		<% unless @profile.website.blank? %><div><strong>Website:</strong> <%= link_to h(@profile.website), h(@profile.website) %></div><% end %>
    		<% unless @profile.blog.blank? %><div><strong>Blog:</strong> <%= link_to h(@profile.blog), h(@profile.blog) %></div><% end %>
    		<% unless @profile.aim_name.blank? %><div><strong>AIM:</strong> <a href="aim:goim?screenname=<%= h @profile.aim_name %>"><%= h @profile.aim_name %></a></div><% end %>
    		<% unless @profile.gtalk_name.blank? %><div><strong>GTalk:</strong> <a href="xmpp:<%= h @profile.gtalk_name %>"><%=h @profile.gtalk_name %></a></div><% end %>
    	</div>
    	<% unless @profile.about_me.blank? %>
    	<div class="clear">
    	  <div>
    	    <h3>About:</h3>
    	    <%= sanitize(@profile.about_me) %>
    	  </div>
    	</div>
    	<% end %>
    </div>
  
    <% if @profile.has_address? %>
    <div class="map_box right_column">
      <%= @map.div(:class => 'map map_small') %>
      <p class="center">
        <%= h @profile.full_name %> lives in <%= @profile.address.shortest_line %>
      </p>
    </div>
    <% end %>
  </div>
  
  
  <div class="clear">
    <div class="left_column">
      <%- if logged_in?  && !me -%>
      <div id="new_direct_message">
        <%= render :partial => 'messages/form', :locals => {:hide_header => true} %>
      </div>
      <%- end -%>
    </div>
    <%- if logged_in?  && !me -%>
    <div class="right_column">
      <% if !current_profile.following?(@profile) %>
        <%= button_to "Add to your friends", friends_path(@profile), { :method => "post", :class => "favorite user_add" } %>
      <% else %>
        <%= button_to "Remove from your friends", friends_path(@pofile), { :method => "delete", :class => "favorite user_delete" } %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>



<% end %>