<%- 
  target ||= :friendee
  user = target == :friendee ? friend.friendee : friend.friender
  friend_request ||= false
-%>
<li class="<%= cycle("even","odd")%>">
  <%= link_to(user.login, user_path(user), :class => 'main' ) %>
  
  <span class="count">
    <% if user.has_address? %>
      in <strong><%= user.address.city %>, <%= user.address.region.name %></strong>
      <% if addressed_in? %>
        and is <%= user.address.distance_to(current_address).round_to(2) %> miles away
      <% end %>
	  <% end %>

    <% if logged_in? && current_user.id != user.id %>
  	<span class="favorite">
  	  <% if current_user.friended?(user) %>
        <%= button_to "Remove #{user.login} as a friend", user_friends_path(user)+'/'+user.to_param, { :method => 'delete', :class => 'user_delete' } %>
      <% elsif current_user.following?(user) %>x
        <%= button_to "Withdraw friend request to #{user.login}", user_friends_path(user)+'/'+user.to_param, { :method => 'delete', :class => 'user_delete' } %>
      <% else %>
        <%= button_to "Add #{user.login} as a friend", user_friends_path(user), { :method => 'post', :class => 'user_add' } %>
      <% end %>
    
    
  	</span>
	</span>
	<% end %>
</li>

