<%- 
  target ||= :friendee
  user = target == :friendee ? friend.friendee : friend.friender
  friend_request ||= false
  confirmation_request ||= false
-%>
<li class="<%= cycle("even","odd")%>">
  <%= link_to(user.login, user_path(user), :class => 'main' ) %>
  
  <span class="count">
    <% if user.has_address? %>
      in <strong><%= user.address.city %>, <%= user.address.region.name %></strong>
      <% if addressed_in? %>
        and is <%= user.address.distance_to(current_address).round_to(2) %> miles away
      <% end %>
	  <% end %>

    <% if logged_in? %>
  	<span class="favorite">
      <% if current_user.following?(user) %>
        <%= link_to "&nbsp", user_friends_path(user)+'/'+user.to_param, { :method => 'delete', :class => 'favorite user_delete' } %>
      <% end %>

  	  <% if current_user.friended?(user) || confirmation_request %>
        <%= link_to "&nbsp;", user_friends_path(user)+'/'+user.to_param, { :method => 'delete', :class => 'favorite user_delete' } %>
      <% end %>
      
      <% if (!current_user.friended?(user) && !current_user.following?(user)) || confirmation_request %>
        <%= link_to "&nbsp;", user_friends_path(user), { :method => 'post', :class => 'favorite user_add' } %>
      <% end %>
  	</span>
	<% end %>
	</span>

</li>

