<% title 'Profile for ' + @user.login -%>

<%= render :partial => 'users/menu', :locals => { :user => @user} %>

<div class="tabbed">

  <% if current_user == @user && current_user.follower_friends.count > 0 %>
    <h2>Friend Requests</h2>
    <ul class="data">
      <%= render :partial => 'friend', :collection => current_user.follower_friends, :locals => { :friend_request => true, :target => 'friender' } %>
    </ul>
  <% end %>

  <% if current_user == @user && current_user.following_friends.count > 0 %>
    <h2>Pending Friend Requests</h2>
    <ul class="data">
      <%= render :partial => 'friend', :collection => current_user.following_friends, :locals => { :friend_request => true } %>
    </ul>
  <% end %>

  <ul class="data">
    <%= render :partial => 'friend', :collection => @user.friendships %>
  </ul>
  
  <% if @user.friends.count == 0 %>
    <p>
      <strong><%= @user.login %></strong> doesn't have any friends. I'm sure they're a good person though.
      <% if current_user.id != @user.id && logged_in? && !current_user.following?(@user) %>
        Why don't you add him so he can stop crying himself to sleep at night?
      
        <%= button_to "Add #{@user.login} as a friend", user_friends_path(@user), { :method => 'post', :class => 'user_delete' } %>
        <% end %>
    </p>
  <% end %>  
</div>