<% title @profile.display_name + separator + " Friends" -%>

<%= render :partial => 'profiles/menu', :locals => { :profile => @profile } %>
<% tabbed_box do %>
  <h1><%= @title %></h1>

  <%= render :partial => 'friends/list', :locals => {:type => 'friends', :with_friending => true, :size => nil} %>
  <%= render :partial => 'friends/list', :locals => {:type => 'followers', :with_friending => true, :size => nil} %>
  <%= render :partial => 'friends/list', :locals => {:type => 'followings', :with_friending => true, :size => nil} %>
  
  <% if @profile.friends.size == 0 %>
    <p><%= @profile.display_name %> doesn't have any friends.</p>
  <% end %>
<% end %> 