<ul class="data">

<% for user in users -%>
	<li class="<%= cycle("even","odd")%>">
	<% if role?('user_editor') -%>
	<ul class="left-shift admin">
	  <li><%= link_to 'Edit', edit_user_path(user), :class => 'admin' %></li>
    <li><%= link_to 'Destroy', user_path(user), :class => 'admin', :confirm => 'Are you sure?', :method => :delete %></li>
  </ul>
  <% end %>

		<%= link_to(user.login, user_path(user)) %>
		
  	<span class="count"><%= pluralize(user.arcades.size, "favorite arcade") %></span>
	</li>
<% end -%>
</ul>