<% content_for(:header) do %>
  <script>
	function set_address_status(status) {
	  $$('#address input').each( function(e) {
	  	$(e).disabled = status;
	  });
	  $$('#address select').each( function(e) {
	  	$(e).disabled = status;
	  });
		
		// Remove the error messages on the address field if it's disabled
		$$('#address .formError').each( function(e) {
			if (status) {
				$(e).addClassName('hidden');
			}	else {
				$(e).removeClassName('hidden');
			}
		});
		
		if (status) {
			$$('#address .fieldWithErrors').each( function(e) {
				$(e).removeClassName('fieldWithErrors');
				$(e).addClassName('fieldWithErrorsDisabled');
			});
		} else {
			$$('#address .fieldWithErrorsDisabled').each( function(e) {
				$(e).removeClassName('fieldWithErrorsDisabled');
				$(e).addClassName('fieldWithErrors');
			});			
		}
		// Remove the red outline around address fields if it's disabled
		
	}

    Event.observe(window, 'load', function() {
      Form.focusFirstElement('signup_form');
      $('add_address').observe('click', function() {
        if ($('add_address').checked) {
          $('address_country_id').selectedIndex = 1;
          set_address_status(false);
				  $('address').removeClassName('disabled');
        } else {
				  set_address_status(true);
		  		$('address').addClassName('disabled');
        }
      });
	<% if !@add_address %>
		set_address_status(true);
    $('address').addClassName('disabled');
	<% end %>
	});
	
	
  </script>
<% end %>

<% title "Signup for an Account" %>

  <fieldset id="registercontainer" style="margin:0 auto;">
    <legend>Register</legend>
    <% form_for :user, :url => users_path, :html => { :id => 'signup_form' } do |f| -%>
  
    <div class="left prepend-1">
      <p class="block required">
        <label for="user_login">Choose a Username</label>
        <span class="block info">This must be between 3 and 40 characters and will be public. You can change this later.</span>
        <%= error_message_on "user", "login", "Login " %>
        <%= f.text_field :login, { :class => 'text'} %>
      </p>
	  
      <p class="block required">
        <label for="user_email">Email</label>
        <span class="block info">You'll need this to login for the first time.</span>
        <%= error_message_on "user", "email", "Email " %>
        <%= f.text_field :email, { :class => 'text'} %>
      </p>
      
      <p class="block required">
        <label for="user_password">Choose a Password</label>
        <span class="block info">At least 4 characters.</span>
        <%= error_message_on "user", "password", "Password " %>
        <%= f.password_field :password, { :class => 'text'} %>
      </p>
      
      <p class="block required">
        <label for="user_password_confirmation">Confirm your Password</label>
        <%= error_message_on "user", "password_confirmation", "Confirm password " %>
        <%= f.password_field :password_confirmation, { :class => 'text'} %>
      </p>

      <p class="left shift-1">
        <input type="checkbox" name="add_address" id="add_address"<%= ' checked="true"' if @add_address %> />
        <label for="add_address">Add an address now?</label>
        <span class="small block">Adding an address will let us show distinace calculations</span>
      </p>
    </div>
    
    <div class="right append-1" id="address">
      <%= render :partial => 'shared/address', :locals => { :address => @user.address } %>
    </div>
    
    <p class="clear-left prepend-4">
      <br/><br/><%= submit_tag 'Register', { :class => 'big_button' } %>
    </p>
    <% end -%>
  </fieldset>