<% javascript do %>
	function set_address_status(status) {
	  $$('#address input').each( function(e) {
	  	$(e).disabled = status;
	  });
	  $$('#address select').each( function(e) {
	  	$(e).disabled = status;
	  });
		
		// Remove the error messages on the address field if it's disabled
		$$('#address .formError').each( function(e) {
			if (status) {
				$(e).hide();
			}	else {
				$(e).show();
			}
		});
		
		if (status) {
			$$('#address .fieldWithErrors').each( function(e) {
				$(e).removeClassName('fieldWithErrors');
				$(e).addClassName('fieldWithErrorsDisabled');
			});
		} else {
			$$('#address .fieldWithErrorsDisabled').each( function(e) {
				$(e).removeClassName('fieldWithErrorsDisabled');
				$(e).addClassName('fieldWithErrors');
			});			
		}
		// Remove the red outline around address fields if it's disabled
		
	}

    Event.observe(window, 'load', function() {
      Form.focusFirstElement('signup_form');
      $('add_address').observe('click', function() {
        if ($('add_address').checked) {
          set_address_status(false);
				  $('address').removeClassName('disabled');
        } else {
				  set_address_status(true);
          $('address_country_id').selectedIndex = 0;
          $('address_region_id').selectedIndex = 0;
		  		$('address').addClassName('disabled');
        }
      });
	<% if !@add_address %>
		set_address_status(true);
    $('address').addClassName('disabled');
	<% end %>
	});
<% end %>

<% title "Signup for an Account" %>
<% tabbed_box do %>
  <h1>Signup for an Account</h1>
  <% form_for :user, :url => users_path, :html => { :id => 'signup_form' } do |f| -%>

  <div class="left">
    <% fields_for :profile, @user.profile do |p| %>
      <p class="block required">
        <label for="profile_display_name">Display Name</label>
        <span class="block info">Whenever we show your name on ArcadeFly, this is what people will see. You can change this whenever.</span>
        <%= error_message_on(@user.profile, :display_name, {:prepend_text => "Display Name "}) %>
        <%= p.text_field :display_name, { :class => 'text'} %>
      </p>
    <% end %>

    <p class="block required">
      <label for="user_email">Email Address</label>
      <span class="block info">You'll use this to login and to activate your account.</span>
      <%= error_message_on(@user, :email, {:prepend_text => "Email "}) %>
      <%= f.text_field :email, { :class => 'text'} %>
    </p>
    
    <p class="block required">
      <label for="user_email_confirmation">Confirm Email Address</label>
      <%= error_message_on(@user, :email_confirmation, {:prepend_text => "Email "}) %>
      <%= f.text_field :email_confirmation, { :class => 'text'} %>
    </p>
    
    
    <p class="block required">
      <label for="user_password">Choose a Password</label>
      <span class="block info">At least 4 characters.</span>
      <%= error_message_on(@user, :password, {:prepend_text => "Password "}) %>
      <%= f.password_field :password, { :class => 'text'} %>
    </p>
    
    <p class="block required">
      <label for="user_password_confirmation">Confirm your Password</label>
      <%= error_message_on(@user, :password_confirmation, {:prepend_text => "Confirm password "}) %>
      <%= f.password_field :password_confirmation, { :class => 'text'} %>
    </p>

    <p class="left shift-1">
      <input type="checkbox" name="add_address" id="add_address"<%= ' checked="checked"' if @add_address %> />
      <label for="add_address">Add your address now?</label>
      <span class="small block">Adding your address will let us show distinace calculations</span>
    </p>
  </div>
  
  <div class="right" id="address">
    <h3>Your Address</h3>
    <%= render :partial => 'shared/address', :locals => { :address => @user.profile.address } %>
  </div>

  <p class="right">
    <%= submit_tag "Register", :class => "big-button", :disable_with => 'Registering...' %>
  </p>
  <% end -%>
<% end %>