<% title 'Profile for ' + @user.login -%>

<%= render :partial => 'menu', :locals => { :user => @user} %>

<% content_for(:header) do %>
  <%= GMap.header %>
	<%= @map.to_html %>
<% end if @user.has_address? %>


<div class="tabbed vcard">
  <% if @user.has_address? %>
    <div class="right map_small_width center">
      <%= @map.div(:class => 'right prepend-1 span-13 last map_small map') %>
      <div>
        <strong><%= @user.login %></strong> lives in somewhere in <em><span class="locality"><%= @user.address.city %></city>, <span class="region"><%= @user.address.region.name %></span></em>.
      </div>
    </div>
  <% end %>

  <div<% if @user.has_address? %> class="span-13"<% end %>>
    <span class="right counts">
      <%= link_to pluralize(@user.frequentships_count, "arcade"), user_arcades_path(@user), :class=>"arcades" %>
      <%= link_to pluralize(@user.favoriteships_count, "game"), user_games_path(@user), :class=>"games" %>
    </span>
    
    <img src="<%= @user.gravatar_url %>" alt="Gravatar for <%= @user.login %>" class="framed right" />
    
    <p>
      <strong class="fn nickname"><%= @user.login %></strong> joined on <%= @user.created_at.to_s(:long) %> (#<%= @user.id %>)
    </p>
    
    <% if logged_in? && current_user != @user %>
    <p>
      <% if current_user.friended?(@user) %>
        <%= button_to "Remove #{@user.login} as a friend", user_friend_path(@user), { :method => 'delete', :class => 'favorite user_delete' } %>
      <% elsif current_user.following?(@user) %>
        <%= button_to "Withdraw friend request to #{@user.login}", user_friend_path(@user), { :method => 'delete', :class => 'favorite user_delete' } %>
      <% else %>
        <%= button_to "Add #{@user.login} as a friend", user_friends_path(@user), { :method => 'post', :class => 'favorite user_add' } %>
      <% end %>
    </p>
    <% end %>
    
    <% if @user.has_address? && addressed_in? && current_user != @user %>
  	  <p><%= @user.login %> lives <%= pluralize(@user.address.distance_to(current_address).round_to(2), "mile") %> away from you.</p>
  	<% end %>
    
    <strong>About <%= @user.login.capitalize %></strong>
    <p>
      <%= simple_format @user.about %>
    </p>
  </div>
</div>