<% title 'Profile for ' + @user.login -%>

<%= render :partial => 'menu', :locals => { :user => @user} %>

<% content_for(:header) do %>
  <%= GMap.header %>
	<%= @map.to_html %>
<% end if @user.has_address? %>


<div class="tabbed vcard">
  <% if @user.has_address? %>
    <%= @map.div(:class => 'right prepend-1 span-13 last map_small map') %>
    <div class="clear right map_small_width center adr">
      <strong><%= @user.login %></strong> lives in <em><span class="locality"><%= @user.address.city %></city>, <span class="region"><%= @user.address.region.name %></span></em>.
    </div>
  <% end %>

  <ul>
    <li><strong class="fn nickname"><%= @user.login %></strong> joined on <%= @user.created_at.to_s(:long) %> (#<%= @user.id %>)</li>
    <li><%= @user.login %> has <%= link_to pluralize(@user.arcades.length, "favorite arcade"), user_arcades_path(@user) %> and <%= link_to pluralize(@user.games.length, "favorite game"), user_games_path(@user) %>.</li>
  </ul>
  
  <br class="clear" />
</div>