<% javascript do %>
  <% if !logged_in? %>
    Event.observe(window, 'load', function() {
      if($F('near') == '') toggleLabel("near", true); 
      $('games_features').hide();
      $('profiles_features').hide();
    });
  <% end %>  
  function show(section) {
    $('arcades_features').hide();
    $('games_features').hide();
    $('profiles_features').hide();
    $(section+'_features').show();
    
    $('landing').removeClassName('arcades');
    $('landing').removeClassName('games');
    $('landing').removeClassName('profiles');
    $('landing').addClassName(section);
    
    $('featured_image').src = '<%=ASSET_HOST%>/images/features_'+section+'.jpg';
  }
<% end %> 

<% cache(:home, :expires_in => 30.minutes) do %>

<% box :classname => 'arcades', :id => 'landing' do %>

    <%= image_tag "#{ASSET_HOST}/images/features_arcades.jpg", :class => "left framed", :id => "featured_image", :alt => "featured image" %>
    
    <div id="features">
    
      <div id="arcades_features">
        <h3>Arcades</h3>
        <ul>
          <li>Find out which <%= link_to "arcades are closeby", arcades_path %></li>
          <li>See what games are at each arcade</li>
          <li>Check out which arcades are <%= link_to "popular", popular_arcades_path %></li>
        </ul>
      </div>
      <div id="games_features" style="display:none;">
        <h3>Games</h3>
        <ul>
          <li>Find the closest place to play a <%= link_to "specific game", games_path %></li>
          <li>See what games are at each arcade</li>
          <li>Check out which games are <%= link_to "popular", popular_games_path %></li>
        </ul>
      </div>
      <div id="profiles_features" style="display:none;">
        <h3>Players</h3>
        <ul>
          <li>Find out which <%= link_to "players are in your area", profiles_path %></li>
          <li>See what other players are interested in</li>
          <li>Find other players who go to an arcade</li>
        </ul>
      </div>
    </div>

    <div class="clear"></div>

  <% if !logged_in? %>
    <% form_tag(arcades_path, :id => "controller_search", :class => "big_search shift-1", :method => "get") do %>
      <label id="near_label" for="near" style="display:none;">Enter your address to show some arcades closeby...</label>
      <%= text_field_tag :near, current_session.addressed_in? ? current_session.address.single_line : '', { :class => 'title', :onfocus => 'toggleLabel("near", false);', :onblur => 'toggleLabel("near", true);' } %>
      <%= submit_tag "Find Arcades!", :class => 'big-button', :disable_with => 'Finding...', :id => 'find' %>
    <% end %>
  <% end %>
<% end %>

<div class="left third">
<% box :classname => 'arcades' do %>
  <h3>Arcades</h3>
  <p>Find arcades closeby, or see which locations the most people enjoy.</p>
  <a href="javascript:show('arcades');">Find Out More...</a>
  
  <div>
    <h4>Recently Added Arcades</h4>
    <ol>
      <% @arcades.each do |arcade| %>
        <li><%= link_to arcade.name, arcade_path(arcade) %> <br/><%= arcade.address.shortest_line %></li>
      <% end %>
    </ol>
  </div>
<% end %>
</div>

<div class="left third">
<% box :classname => 'games' do %>
  <h3>Games</h3>
  <p>Looking for a game? We can help you find an arcade that has it.</p>
  <a href="javascript:show('games');">Find Out More...</a>
  <div>
    <h4>Most Popular Games</h4>
    <ol>
      <% @games.each do |game| %>
        <li><%= link_to game.name, game_path(game) %></li>
      <% end %>
    </ol>
  </div>
<% end %>
</div>

<div class="left third last">
<% box :classname => 'profiles' do %>
  <h3>Players</h3>
  <p>Find gamers with similar game interests, or that hangout at your favorite arcades.</p>
  <a href="javascript:show('profiles');">Find Out More...</a>
  <div>
    <h4>Recently Joined</h4>
    <ol>
      <% @profiles.each do |profile| %>
        <li><%= link_to profile.display_name, profile_path(profile) %></li>
      <% end %>
    </ol>
  </div>
<% end %>
</div>

<% end %>