<%- title "What can you do next?" %>
  
<% if !addressed_in? %>
<h3>Add an Address</h3>
<p>You can let us know your address at any time for access to additional ways of finding arcades.</p>
<% end %>

<h3>Complete Your profile</h3>
<p>Add more information about yourself so people can get to know you by <%= link_to "completing your profile", edit_profile_path(current_profile) %>.</p>

<h3>Find arcades you go to</h3>
<p> Check out the <%= link_to "arcades", arcades_path %> section for locations<% if current_session.addressed_in? %> near you<% end %>.<% if !addressed_in? %>  If you <b><%= link_to "add your address", edit_profile_path(current_profile) %></b>, you'll be able to see all the arcades closeby. <% end %></p>

<h3>Find a game you want to play</h3>
<p>Find a <%= link_to "game", games_path %> you like, and we'll show you<% if current_session.addressed_in? %> the closeby<% end %> arcades to play it. <% if !addressed_in? %>If you <b><%= link_to "add your address", edit_profile_path(current_profile) %></b>, you'll be able to see all the arcades closeby. <% end %></p>

<h3>Find players to play with</h3>
<p>See who goes to your hangouts and arrane a meetup.</p>

<h3>Complete listings!</h3>
<p>Found an arcade not listed here? Know of a game at an arcade not listed? Update the listing and help out everyone!</p>