    <p class="block">
      <label for="game_name">Game Name</label>
      <%= f.text_field :name, { :class => 'text' } %>
    </p>
    <p class="block">
      <label for="game_gamefaqs_id">GameFAQs ID</label>
      <small>Ex. 943709 for <a href="http://www.gamefaqs.com/coinop/arcade/game/943709.html" target="_blank">Street Fighter IV</a></small>
      <%= f.text_field :gamefaqs_id, { :class => 'text' } %>
    </p>
    <p class="block">
      <label for="game_klov_id">Klov ID</label>
      <small>Ex. 13520 for <a href="http://www.klov.com/game_detail.php?game_id=13520" target="_blank">DDR SuperNOVA</a></small>
      <%= f.text_field :klov_id, { :class => 'text' } %>
    </p>
    <p class="block">
      <label for="game_alias">Alias</label>
      <small>Alternate names and abbreviations help!<br/>This might be something like <em>Dance Dance Revolution SuperNOVA, DDR SuperNOVA</em></small>
      <%= f.text_field :alias, { :class => 'text' } %>
    </p>
    <% if administrator? %>
    <p class="block">
      <label for="game_permalink">Permalink</label>
      <%= f.text_field :permalink, { :class => 'text' } %>
    </p>
    <% end %>