<% 
  # If a playable is passed in rather than a game, show the count of games as well. 
  # Todo: This could probably be cleaned up a little
  if game.is_a?(Playable)
    playable = game
    game = playable.game
  end
  count ||= "playables_count"
  
  game_name = game.name
  game_name += " (#{playable.games_count})" if !playable.nil? && playable.games_count > 1
-%>
<li class="<%= cycle("even","odd")%>">
	<%= link_to(game_name, game_path(game), :class => 'main') %>
  
	<span class="count">
    <%= pluralize(game.playables_count, "arcade") %>
    <%= render :partial => 'games/favorite', :locals => { :show_text => false, :game => game } %>
  </span>
	
	<% if @max_count&& @max_count > 0 %>
    <span class="index" style="width: <%= (game[count]*10/@max_count*10) %>%">(<%= (game[count]*10/@max_count*10) %>%)</span>
  <% end %>
</li>

