<% count ||= "playables_count" %>
<li class="<%= cycle("even","odd")%>">
  <% if role?('game_editor') -%>
    <ul class="left-shift admin">
    <li><%= link_to 'Edit', edit_game_path(game), :class => 'admin' %></li>
    <li><%= link_to 'Destroy', game_path(game), :class => 'admin', :confirm => 'Are you sure?', :method => :delete %></li>
    </ul>
    <% end %>

	<%= link_to(game.name, game_path(game), :class => 'main') %>


	<span class="count">
  <%= pluralize(game.playables_count, "arcade") %>
  <% if logged_in? %>
	<span class="favorite">
	  <% if current_user.games.include?(game) %>
	    <%= link_to "&nbsp;", game_favorite_path(game), { :method => "delete", :class => "favorite_delete" } %>
	  <% else %>
      <%= link_to "&nbsp;", game_favorite_path(game), { :method => "post", :class => "favorite_add" } %>
	  <% end %>
	</span>
	<% end %>
	</span>
	
	<% if @max_count&& @max_count > 0 %>
    <span class="index" style="width: <%= (game[count]*10/@max_count*10) %>%">(<%= (game[count]*10/@max_count*10) %>%)</span>
  <% end %>
</li>

