<% 
  # If a playable is passed in rather than a game, show the count of games as well. 
  # Todo: This could probably be cleaned up a little
  if game.is_a?(Playable)
    playable = game
    game = playable.game
  end
-%>
<li id="game_<%= game.id %>" class="<%= cycle("even","odd")%><%= " favorited" if logged_in? && current_profile.has_favorite_game?(game) %>">
	<%= link_to(game.name, game_path(game), :class => 'main') %>
  
	<span class="count">
	  <% if playable %>
	    <%= pluralize(playable.games_count, "game") %>
    <% else %>
      in <%= pluralize(game.playables_count, "arcade") %>
    <% end %>
    <%= render :partial => 'games/favorite', :locals => { :show_text => false, :game => game } %>
  </span>
</li>