<% title "Games" -%>

<% box do %>
  <h1>Games <%= separator + params[:search] unless params[:search].blank? %></h1>

  <%- if params[:search].nil? -%>
    <div><strong>Want to see only popular games?</strong> Check out which games have been <%= link_to "favorited by the most players", popular_games_path %>!</div>
  <%- end -%>

  <% cache do %>
  <!--
  <div id="controller_search">
    <% form_for(:game, games_path, :html => { :method => 'get' }) do |f| %>
      <label id="search_label" for="search">Search for a Game...</label>
      <%= text_field_tag :search, '', { :class => 'text', :onfocus => 'toggleLabel("search", false);', :onblur => 'toggleLabel("search", true);' } %>  
      <%= submit_tag "Search!", { :disable_with => 'Searching...', :name => nil } %>
    <% end %>
  </div>
  -->
  <% end %>

  <%= render :partial => 'shared/letters', :locals => { :controller => 'games' } %>

  <%= render :partial => 'games/games', :object => @games %>
<% end %>

<% if logged_in? %>
<ul class="nav clear right">
  <li><%= link_to "Add a new Game", new_game_path %></li>  
</ul>
<% else %>
  <p class="nav clear right">
    Know of a game not listed here? Just <%= link_to "Sign In", signin_path %> or <%= link_to "Register", signup_path %> and you'll be able to add it.
  </p>
<% end -%>
