<% title "Games" -%>

<% content_area do %>
  <h2>Games</h2>

  <%- if params[:search].nil? -%>
    <div><strong>Want to see only popular games?</strong> Check out which games have been <%= link_to "favorited by the most players", popular_games_path %>!</div>
  <%- end -%>

  <div id="controller_search">
    <% form_for(:game, games_path, :html => { :method => 'get' }) do |f| %>
      <label id="search_label" for="search">Search for a Game...</label>
      <%= text_field_tag :search, '', { :class => 'text', :onfocus => 'toggleLabel(false);', :onblur => 'toggleLabel(true);' } %>  
      <%= submit_tag "Search!", { :disable_with => 'Searching...', :class => 'inline' } %>
    <% end %>
  </div>

  <%= render :partial => 'shared/letters', :locals => { :controller => 'games' } %>

  <div<%= ' class="right-space"' if logged_in? %>>
    <ul class="data">
      <%= render :partial => 'game', :collection => @games %>
    </ul>

    <p>
      <%= will_paginate @games %>
    </p>
  </div>

<% end %>

<% sidebar do %>
  <h3>Sort games by...</h3>
  <span class="info">Show all games sorted by on of the following:</span>
  <ul>
    <li><a href="#">Name</a></li>
    <li><a href="#">Rating</a></li>
    <li><a href="#">Number of people who favorited it</a></li>
    <li><a href="#">Name</a></li>
  </ul>
<% end %>