<% title "Games" -%>
<% letters = ('a'..'z').to_a << '#' -%>
<div class="pagination">
  <%= render(:partial => "shared/letter", :collection => letters) %>
</div>

<ul class="data<%= ' tabbed' if logged_in? %>">
  <%= render :partial => 'game', :collection => @games %>
</ul>

<p>
  <%= will_paginate @games %>
  <% if role?('game_editor') %>
    <%= link_to 'New Game', new_game_path, :class => 'admin button key' %>
  <% end %>
</p>