<% title 'Games' + separator + @game.name + separator + "Players who Favorited this Game" -%>

<%= render :partial => 'games/menu', :locals => { :game => @game } %>

<% tabbed_box do %>
  <h2><%= @title %></h2>

  <%= render :partial => 'profiles/profiles', :object => @profiles %>

  <% if !@game.has_users? %>
  <p>No one has favorited <strong><%= @game.name %></strong> just yet.</p>
  <% end %>

  <%= render :partial => 'games/favorite', :locals => { :show_text => true, :game => @game } %>
  
  <p>
    <%= will_paginate @profiles %>
  </p>
<% end %>