<h2><%=h @game.name %></h2>

<%= render :partial => 'menu', :locals => { :game => @game } %>

<div class="tabbed">
	<p>
		<b><%=h @game.name %></b> is playable at <b><%=h pluralize(@game.playables_count, "arcade") %></b>.
	</p>
	<p>
	  <a href="http://www.gamefaqs.com/coinop/arcade/data/<%= @game.gamefaqs_id %>.html">GameFaqs</a>
	</p>
	
	<%= render :partial => 'footer', :locals => { :game => @game } %>
</p>

</div>