<% title "Games - " + @game.name -%>

<%= render :partial => 'menu', :locals => { :game => @game } %>

<div class="tabbed">

  <span class="right counts">
  <%= link_to pluralize(@game.playables_count, "arcade"), game_arcades_path(@game), :class=>"arcades" %>
    <%= link_to pluralize(@game.favoriteships_count, "favorite"), game_users_path(@game), :class=>"users" %>
  </span>

	<% if logged_in? %>
	  <p>
	  <% if !current_user.has_favorite_game?(@game) %>
      <%= button_to "Add to favorites", game_favorite_path(@game), { :method => "post", :class => "favorite_add" } %>
    <% else %>
      <%= button_to "Remove from favorites", game_favorite_path(@game), { :method => "delete", :class => "favorite_delete" } %>
    <% end %>
  </p>
  <% end %>
  
  
  <% if @items.size > 0 %>
    <ul class="data">
      <%= render :partial => 'products/product', :collection => @items %>
    <ul>
  <% end %>
  
	<p>
	  <a href="http://www.gamefaqs.com/coinop/arcade/data/<%= @game.gamefaqs_id %>.html">GameFaqs</a>
	</p>
	
	<%= render :partial => 'games/footer', :locals => { :game => @game } %>
</p>

</div>