<% title "Games" + separator + @game.name -%>
<%- @body_class = "games" %>

<%= render :partial => 'menu', :locals => { :game => @game } %>

<% tabbed_box do %>
  <div id="profile_overview">
    <div class="left_column">
      <span class="counts left shift-1">
        <%= link_to pluralize(@game.playables.size, "arcade"), game_arcades_path(@game), :class => "arcades" %>
        <%= link_to pluralize(@game.favoriteships.size, "favorite"), game_profiles_path(@game), :class => "users" %>
      </span>
      <div class="right short_description">
        <h2><%= @game.name %></h2>
        <% if @game.gamefaqs_id || @game.klov_id %>
      	<p>
      	  Find out more about this game on:  
      	  <%= link_to "GameFaqs", "http://www.gamefaqs.com/coinop/arcade/data/#{@game.gamefaqs_id}.html", :target => "_blank" if @game.gamefaqs_id %><% if @game.gamefaqs_id && @game.klov_id %>, <% end %>
      	  <%= link_to "KLOV", "http://www.klov.com/game_detail.php?game_id=#{@game.klov_id}", :target => "_blank" if @game.klov_id %>
      	</p>
      	<% end %>
    	  <%= render :partial => 'favorite', :locals => { :show_text => true, :game => @game } if logged_in? %>
    	</div>
    	
    	<div class="left_column_content">
      	<% if @game.has_arcades? %>
        <p>
          With availability at <em><%= pluralize(@game.playables.size, "arcade") %></em>, <%= @game.name %> is the <em>#<%= @game.playables_rank %> most available</em> game.
        </p>
        <% end %>

        <% if @game.has_users? %>
        <p>
          <%= @game.name %> has been favorited by <em><%= pluralize(@game.favoriteships.size, "player") %></em>, making it the <em>#<%= @game.favoriteships_rank %> most favorited</em> game.
        </p>
        <% end %>        
      </div>
      
    </div>
    
    <div class="right_column">
      <p class="center shift-2">
        Want to see locations near you with this game? <%= link_to "Check out arcades with this game!", game_arcades_path(@game) %>
      </p>
    </div>
    
    <% if @game.alias != @game.name %>
      <p class="clear">
        <strong>Aliases for this game:</strong> <%= @game.alias %>
      </p>
    <% end %>
    
  </div>
<% end %>