<% title "Games - " + @game.name -%>

<%= render :partial => 'menu', :locals => { :game => @game } %>

<div class="tabbed">
	<p>
		<b><%=h @game.name %></b> is playable at <b><%=h pluralize(@game.playables_count, "arcade") %></b>.
	</p>
	
	<p>
		<b><%=h @game.name %></b> is on the favorites list of <b><%=h pluralize(@game.users.size, "players") %></b>.
	</p>
	
	<% if logged_in? %>
	  <p>
	  <% if !(current_user.games.collect do |a| a.id end).include?(@game.id) %>
      <%= link_to "Add this game to your favorites", game_favorite_path(@game), { :method => "post" } %>
    <% else %>
      This game is on your list of favorites.<br/>
      <%= link_to "Remove this game from your favorites", game_favorite_path(@game), { :method => "delete" } %>
    <% end %>
  </p>
  <% end %>
  
	<p>
	  <a href="http://www.gamefaqs.com/coinop/arcade/data/<%= @game.gamefaqs_id %>.html">GameFaqs</a>
	</p>
	
	<%= render :partial => 'games/footer', :locals => { :game => @game } %>
</p>

</div>