<% title "Games" + separator + @game.name -%>

<%= render :partial => 'menu', :locals => { :game => @game } %>

<div class="tabbed">

  <span class="right counts">
  <%= link_to pluralize(@game.playables_count, "arcade"), game_arcades_path(@game), :class=>"arcades" %>
    <%= link_to pluralize(@game.favoriteships_count, "favorite"), game_profiles_path(@game), :class=>"users" %>
  </span>

  <% if @game.playables_count > 0 %>
  <p>
    With availability at <em><%= pluralize(@game.playables_count, "arcade") %></em>, <%= @game.name %> is the <em>#<%= @arcades_popularity %> most available</em> game.
  </p>
  <% end %>
  
  <% if @game.favoriteships_count > 0 %>
  <p>
    <%= @game.name %> has been favorited by <em><%= pluralize(@game.favoriteships_count, "player") %></em>, making it the <em>#<%= @users_popularity %> most favorited</em> game.
  </p>
  <% end %>

	<% if logged_in? %>
	  <p>
	  <% if !current_profile.has_favorite_game?(@game) %>
      <%= button_to "Add to your favorites", game_favorites_path(@game), { :method => "post", :class => "favorite game_add" } %>
    <% else %>
      <%= button_to "Remove from your favorites", game_favorite_path(@game), { :method => "delete", :class => "favorite game_delete" } %>
    <% end %>
  </p>
  <% end %>
    
	<p class="shift-2">
	  <a href="http://www.gamefaqs.com/coinop/arcade/data/<%= @game.gamefaqs_id %>.html" target="_blank">View this game on GameFaqs</a>
	</p>
</div>