<% title 'Games - ' + @game.name -%>

<%= render :partial => 'games/menu', :locals => { :game => @game } %>

<div class="tabbed">

 <ul class="data">
   <%= render :partial => 'users/user', :collection => @users, :locals => { :parent => :game } %>
 </ul> 

 <% if @game.favoriteships_count == 0 %>
 <p>No one has favorited <strong><%= @game.name %></strong> just yet.</p>
 <% end %>

  <% if logged_in? && !current_user.has_favorite_game?(@game) %>
    <p><%= button_to "Add to your favorites", game_favorites_path(@game), { :method => "post", :class => 'favorite game_add' } %></p>
  <% end %>
  
  <p>
    <%= will_paginate @users %>
  </p>
  <%= render :partial => 'games/footer', :locals => { :game => @game } %>
</div>