<% title "Choose a new Password" %>

<div class="column span-12">
  <% form_for :user, :id => params[:id], :html => { :method => :put } do |f| %>
       
    <fieldset>
      <legend>Create a new Password</legend>
      <p class="block required">
        <label for="user_password">Password</label>
				<span class="block info">At least 4 characters.</span>
				<%= error_message_on "user", "password", "Password " %>
        <%= password_field_tag :password, "", :size => 50,  :class => 'text'%>
      </p>
      <p class="block required">
        <label for="user_password_confirmation">Confirm Password</label>
				<%= error_message_on "user", "password_confirmation", "Password Confirmation " %>
        <%= password_field_tag :password_confirmation, "", :size => 50,  :class => 'text' %>
      </p>
      <p class="block">
        <%= submit_tag "Change my password and log me in!", :disable_with => "Changing your password.." %>
      </p>
    </fieldset>
  <% end %>
</div>

<div class="column span-10 last box right shift-1">
  <span>After choosing your new password you will immediately be logged in and sent an email reminding you that your password changed.</span>
</div>