<% title "Listing Addresses for #{current_user.login}" %>

<div>
<% for address in @addresses %>
  <div class="left">
    <b><%=h address.title %></b><br/>
    <%=h address.street %><br/>
    <%=h address.city %>, <%=h address.region.name %> <%=h address.postal_code %><br/>
    <%=h address.country.name %><br/>
    <%= link_to 'Edit address', edit_user_address_path(current_user, address) %>
    <%= link_to 'Destroy', user_address_path(current_user, address), :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
</div>

<%= link_to 'New address', new_user_address_path(current_user), { :class => 'clear shift-1' } %>