<% javascript do %>
  $(function(){
    if($('#near').val() == '') toggleLabel("near", true);
  });
<% end %>

<% form_tag("", :id => "controller_search", :class => "big_search shift-1", :method => "get") do %>
  <label id="near_label" for="near" style="display:none;">Enter an address or city to show some arcades closeby...</label>
  <%= text_field_tag :near, current_session.addressed_in? ? current_session.address.single_line : '', { :class => 'title', :onfocus => 'toggleLabel("near", false);', :onblur => 'toggleLabel("near", true);' } %>
  <%= submit_tag "Find Arcades!", :class => 'big-button', :disable_with => 'Finding...', :id => 'find' %>
<% end %>

<div class="map_box">
  <ul class="scrollable content content-height">
    <%= render :partial => 'arcades/arcade', :collection => arcades %>
  </ul>
  <%= render :partial => 'shared/addressables', :object => arcades %>
</div>

<%= will_paginate arcades %>

<%= render :partial => 'arcades/list_footer' %>