<li class="<%= cycle("even","odd")%> clear">

  <span style="width:280px;" class="left">
    <%= link_to(arcade.name, arcade_path(arcade)) %>
  </span>
    
  <div class="clear soft">
    <% if logged_in? %>
  	<span>
  	  <% if current_profile.arcades.include?(arcade) %>
  	    <%= link_to "&nbsp;", arcade_favorites_path(arcade)+'/'+arcade.to_param, { :method => "delete", :class => "favorite_delete" } %>
  	  <% else %>
        <%= link_to "&nbsp;", arcade_favorites_path(arcade), { :method => "post", :class => "favorite_add" } %>
  	  <% end %>
  	</span>
  	<% end %>

    <span>
      in <%= arcade.address.city %>, <%= arcade.address.region.name %><% if addressed_in? -%>, <%= arcade.address.distance_to(current_address).round_to(2) %> miles away,
        <% end %>
        and has <strong><%= pluralize(arcade.playables_count, "game") %></strong>
    </span>
  </div>
  
  
	
</li>