<%- # expects
    # :locations => { :arcades => @arcades, :map => @map }
-%>
<% content_for(:header) do %>
  <%= GMap.header %>
  <%= javascript_include_tag("markerGroup") %>
	<%= map.to_html %>
<% end %>

<div class="map_box">
  <ul class="scrollable content content-height">
    <%= render :partial => 'arcades/arcade', :collection => arcades %>
  </ul>
  <%= map.div(:class => 'map map_medium content-height') %>
</div>

<%= will_paginate arcades %>

<div>
  <p>
    <% if logged_in? %>
      Know of an arcade not listed here? <%= link_to "Add it!", new_arcade_path %>
    <% else %>
      Know of an arcade not listed here? Just <%= link_to "Sign In", signin_path %> or <%= link_to "Register", signup_path %> and you'll be able to add it.
    <% end -%>
  </p>
</div>
