<li class="<%= cycle("even","odd")%> clear">

  <span style="width:280px;" class="left">
    <%= link_to(arcade_map.name, arcade_path(arcade_map)) %>
  </span>
  
  <span style="width:80px;" class="right">
    <a href="#" onclick="arcades_map.showMarker(1);return false;">Show on Map</a>
  </span>
  
  <div class="clear soft">
    <% if logged_in? %>
  	<span>
  	  <% if current_profile.arcades.include?(arcade_map) %>
  	    <%= link_to "&nbsp;", arcade_favorites_path(arcade_map)+'/'+arcade_map.to_param, { :method => "delete", :class => "favorite_delete" } %>
  	  <% else %>
        <%= link_to "&nbsp;", arcade_favorites_path(arcade_map), { :method => "post", :class => "favorite_add" } %>
  	  <% end %>
  	</span>
  	<% end %>

    <span>
      in <%= arcade_map.address.city %>, <%= arcade_map.address.region.name %><% if addressed_in? -%>, <%= arcade_map.address.distance_to(current_address).round_to(2) %> miles away,
        <% end %>
        and has <strong><%= pluralize(arcade_map.playables_count, "game") %></strong>
    </span>
  </div>
  
  
	
</li>