<% arcade.address ||= Address.new %>
<li<%= cycle(' class="even"','')%>>

  <span class="title">
    <%= link_to(arcade.name, arcade_path(arcade)) %>
  </span>
  
  <span class="marker">
    <a href="#" onclick="arcade_group.showMarker('<%= arcade.permalink %>');return false;">Show »</a>
  </span>
  
  <div class="clear soft">
  	<div class="left">
      <%= render :partial => 'arcades/favorite', :locals => { :show_text => false, :arcade => arcade } if logged_in? %>
      <p><%= arcade.address.shortest_line -%></p>
  	</div>
  	
  	<div class="right">
      <% if current_session.addressed_in? -%>
        <%= arcade.address.distance_to(current_session.address).round_to(2) %> miles away<br />
      <% end %>
      <%= link_to pluralize(arcade.playables.size, "game"), arcade_games_path(arcade), :class => 'games' %> 
      <%= link_to pluralize(arcade.frequentships.size, "favorites"), arcade_profiles_path(arcade), :class => 'users' %> 
    </div>
  </div>
</li>