<%- # expects
    # :locations => { :arcades => @arcades, :map => @map }
-%>
<% content_for(:header) do %>
  <%= GMap.header %>
  <%= javascript_include_tag("markerGroup") %>
	<%= map.to_html %>
<% end %>

<div class="tabbed-map">
  <ul class="left data span-10 scrollable content-height map shift-1 content map_list">
    <%= render :partial => 'arcades/arcade', :collection => arcades %>
  </ul>
  <%= map.div(:class => 'right prepend-1 span-13 last map_medium content-height map') %>


  <p>
    <%= will_paginate arcades %>
    <div class="box clear">
      <span class="left">
        Arcades are sorted by <em>
        <%- if addressed_in? -%>
          distance from your location
        <%- else -%>
          arcade name
        <%- end -%>
        </em>.
     </span>

      <ul class="nav right">
        <%= nav_link "Sort by Name", arcades_path %>
        <%- if addressed_in? %>
        <%= nav_link "Sort by Distance", arcades_path %>
        <%- end -%>
        <%= nav_link "Sort by Number of Favorites", arcades_path %>
        <%= nav_link "Sort by Number of Games", arcades_path %>
      <ul>
    </div>
    
    
    <%= link_to 'Create a new arcade', new_arcade_path%>
  </p>
</div>