<% map ||= false %>
<li class="<%= cycle("even","odd")%>">
	<ul class="left-shift admin">
		<li><%= link_to 'Edit', edit_arcade_path(arcade), :class => 'admin' %></li>
    <li><%= link_to 'Destroy', arcade_path(arcade), :class => 'admin', :confirm => 'Are you sure?', :method => :delete %></li>
  </ul>
  <% if map %>
	  <a href="#" onclick="arcades_map.showMarker(1);return false;" class="right">Show on Map</a>
	<% end %>

	<%= link_to(arcade.name, arcade_path(arcade)) %>
	

	<span class="count"> in 
	  <strong><%= arcade.address.city %>, <%= arcade.address.region.name %></strong>
	  has <%= pluralize(arcade.playables_count, "game") %>
	  <% if logged_in? &&  current_user.has_address? -%>
	    and is <%= arcade.address.distance_to(current_user.address).round_to(2) %> miles away
	  <% end %>
	</span>
	
	<% if @playables_count %>
	<span class="index" style="width: <%= (arcade.playables_count/@playables_count)*100 %>%">(<%= ((arcade.playables_count/@playables_count)*100) %>%)</span>
  <% end %>
</li>