<ul class="nav clear right">
<% if logged_in? %>
  <li><%= link_to "Add a new Arcade", new_arcade_path %></li>  

  <% if current_profile.administrator? || current_profile.claimed?(@arcade) %>
    <li><%= link_to "Edit this Arcade", edit_arcade_path(@arcade) %></li>
    <li><%= link_to "Edit Games List", edit_arcade_games_path(@arcade) %></li>
    
    <% if !current_profile.administrator? && current_profile.claimed?(@arcade) %>
      <%= link_to "Resign as an editor of this arcade", arcade_claim_path(@arcade, 1), :method => :delete, :confirm => "Are you sure? You will no longer be able to edit this arcade or the games at it." %>
    <% end %>
  <% elsif current_profile.pending_claim?(@arcade) %>
    <li>You've already put in a claim for this arcade. <%= link_to "Remove it?", arcade_claim_path(@arcade, 1), :method => :delete, :confirm => "Are you sure?" %></li>

  <% else %>
    <li>Want to edit this arcade, or modify its games? <%= link_to "Claim this Arcade", new_arcade_claim_path(@arcade) %>.</li>
  <% end %>

  <% if current_profile.administrator? %>
  <li><%= link_to "Delete", arcade_path(@arcade), :method => :delete, :confirm => "Are you sure? This will completely remove this arcade." %></li>
  <% end %>
  
<% else %>
  <li>Want to edit this arcade? Just <%= link_to "Sign In", signin_path %> or <%= link_to "Register", signup_path %> and you'll be able to.</li>
<% end %>
</ul>