<%- javascript_file 'dynamic_regions' %>

<% javascript do %>
	Event.observe(window, 'load', function() {
    Form.focusFirstElement('arcade_form');
  });
<% end %>

<div class="left half">
  <p class="block required">
    <label for="arcade_name">Arcade Name</label>
    <span class="info">If this arcade is in a mall, please include the mall name in the arcade name.<br/>Example: <em>Gameworks at West Oaks Mall</em>.</span>
    <%= error_message_on "arcade", "name", "Arcade Name " %>
    <%= f.text_field :name, { :class => 'text' } %>
  </p>

  <p class="block">
    <label for="arcade_phone">Phone Number</label>
    <%= error_message_on "arcade", "phone", "Phone Number " %>
    <%= f.text_field :phone, { :class => 'text' } %>
  </p>

  <% fields_for 'arcade[address]', @arcade.address do |a| %>
  <p class="block required">	
    <label for="address_street">Street</label>
    <%= error_message_on "address", "street", "Street " %>
    <%= a.text_field :street, { :class => "text" } %>
  </p>
  <p class="block required">
    <label for="address_city">City</label>
    <%= error_message_on "address", "city", "City " %>
    <%= a.text_field :city, { :class => "text" } %>
  </p>
  <p class="block required">
    <label for="address_country_id">Country</label>
    <%= error_message_on "address", "country_id", "Country " %>
    <%= a.select :country_id, Country.find(:all).collect {|r| [ r.name, r.id ] }, 
                              { :include_blank => true },
                              { :class => "text", :id => "address_country_id" } %>
  </p>
  <p class="block required" id="address_region_id_field">
    <label for="address_region_id">State/Region</label>
    <%= error_message_on "address", "region_id", "State/Region " %>
    <%= a.select :region_id, Region.find(:all).collect {|r| [ r.name, r.id ] }, 
                             { :include_blank => true },
                             { :class => "text", :id => "address_region_id" } %>
  </p>
  <p class="block">
    <label for="address_postal_code">Zip/Postal Code <a href="http://zip4.usps.com/zip4/welcome.jsp" target="_blank">[?]</a></label>
    <%= error_message_on "address", "postal_code", "Zip/Postal Code " %>
    <%= a.text_field :postal_code, { :class => "text" } %>
  </p>
<% end %>
</div>

<div class="right half">
  <p class="block required">
    <label>Classification</label>
    <span class="info">Select any of the following which this location could be classified as.</span> 
    <ul class="clean">
    <% Tag.find(:all, :order => :name).each do  |tag| %>
      <li>
        <%= check_box_tag 'arcade[all_tags][]', tag.name, @arcade.tag_list.include?(tag.name), :id => "tag_#{tag.id}" %> <label for="<%="tag_#{tag.id}"%>"><%= tag.name %></label>
      </p>
    <% end %>
    </ul>
  </p>
</div>

<p class="clear right">
  <%= submit_tag "Review »", :class => "big-button right", :disable_with => 'Submitting...' %>
</p>