<%- javascript_file 'dynamic_regions' %>

<% javascript do %>
  $(function(){
    $("input[type='text']:first", document.forms[0]).focus();
  });
<% end %>

<div class="left half">
  <p class="block required">
    <label for="arcade_name">Arcade Name</label>
    <span class="info">If this arcade is in a mall, please include the mall name in the arcade name.<br/>Example: <em>Gameworks at West Oaks Mall</em>.</span>
    <%= error_message_on "arcade", "name", { :prepend_text => "Arcade Name " } %>
    <%= f.text_field :name, { :class => 'text' } %>
  </p>

  <p class="block">
    <label for="arcade_phone">Phone Number</label>
    <%= error_message_on "arcade", "phone", { :prepend_text => "Phone Number " } %>
    <%= f.text_field :phone, { :class => 'text' } %>
  </p>

  <% fields_for 'address', @arcade.address do |a| %>
  
  <p class="block required">	
    <label for="address_street">Street</label>
    <%= error_message_on @arcade.address, "street", { :prepend_text => "Street " } %>
    <%= a.text_field :street, { :class => "text" } %>
  </p>
  <p class="block required">
    <label for="address_city">City</label>
    <%= error_message_on @arcade.address, "city", { :prepend_text => "City " } %>
    <%= a.text_field :city, { :class => "text" } %>
  </p>
  <p class="block required">
    <label for="address_country_id">Country</label>
    <%= error_message_on @arcade.address, "country_id", { :prepend_text => "Country " } %>
    <%= a.select :country_id, Country.find(:all).collect {|r| [ r.name, r.id ] }, 
                              { :include_blank => true },
                              { :class => "text", :id => "address_country_id" } %>
  </p>
  <p class="block required" id="address_region_id_field">
    <label for="address_region_id">State/Region</label>
    <%= error_message_on @arcade.address, "region_id", { :prepend_text => "State/Region " } %>
    <%= a.select :region_id, Region.find(:all).collect {|r| [ r.name, r.id ] }, 
                             { :include_blank => true },
                             { :class => "text", :id => "address_region_id" } %>
  </p>
  <p class="block">
    <label for="address_postal_code">Zip/Postal Code <a href="http://zip4.usps.com/zip4/welcome.jsp" target="_blank">[?]</a></label>
    <%= error_message_on @arcade.address, "postal_code", { :prepend_text => "Zip/Postal Code " } %>
    <%= a.text_field :postal_code, { :class => "text" } %>
  </p>
  <% end %>
  
  <p class="block">
    <label for="arcade_website">Website</label>
    <%= error_message_on "arcade", "website", { :prepend_text => "Website " } %>
    <%= f.text_field :website, { :class => 'text' } %>
  </p>
  
  <p class="block">
    <label for="arcade_website">Arcade Owner's Name</label>
    <div class="info">We can email the arcade owner to let them know about ArcadeFly! Just let us know their
      name and email. If they don't have a name listed on their site, just the email will do.</div>
    <%= error_message_on "arcade", "owner_name", { :prepend_text => "Arcade owner's " } %>
    <%= f.text_field :owner_name, { :class => 'text' } %>
  </p>
  
  <p class="block">
    <label for="arcade_website">Arcade Owner's Email Address</label>
    <%= error_message_on "arcade", "owner_email", { :prepend_text => "Arcade owner's email address " } %>
    <%= f.text_field :owner_email, { :class => 'text' } %>
  </p>
  <hr />
  
  <p class="block required">
    <label>This location could be classified as...</label>
    <span class="info">Select any of the following which this location could be classified as.</span> 
    <ul class="clean">
    <% Tag.find(:all, :order => :name).each do  |tag| %>
      <li>
        <%= check_box_tag 'arcade[all_tags][]', tag.name, @arcade.tag_list.include?(tag.name), :id => "tag_#{tag.id}" %> <label for="<%="tag_#{tag.id}"%>"><%= tag.name %></label>
      </p>
    <% end %>
    </ul>
  </p>
</div>

<div class="right half padding">

<h3>Hours</h2>
<p><em>Hours coming soon! Some bugs to hammer out first.</em></p>
  <p>
    <input id="hide_hours" name="add_hours" type="radio" value="false" checked="true" disabled="disabled" />
    <label for="hide_hours">Don't specify hours for this location right now.</label>
  </p>
  <p>
    <input id="show_hours" name="add_hours" type="radio" value="true" disabled="disabled" />
    <label for="show_hours">Specify hours for this arcade now.</label>
  </p>
  
 
  <ul id="hours" style='display:none;'>
    <% @arcade.hours.each do |hour| %>
    <% fields_for "arcade[all_hours][]", hour do |h| %>
    <li>
      <%= h.hidden_field :dayofweek %>
      <%= h.hidden_field :day %>
      <span class="dayofweek"><%= hour.dayofweek.capitalize %>:</span>
      <span id="<%= hour.dayofweek %>_hours" class="from_to">
      <%= h.select :start, Hour::START_OPTIONS,
        { :include_blank => false },
        { :class => "start text", :id => "hour_start_#{hour.dayofweek}" } %>
        
      to&nbsp;&nbsp;

      <%= h.select :end, Hour::END_OPTIONS,
         { :include_blank => false },
         { :class => "end text", :id => "hour_end_#{hour.dayofweek}" } %>
    
      </span>
            
      <span class="options">
        <% if hour.day == 0 -%>
          <a href="javascript:fill_down($('hour_start_mon').selectedIndex, $('hour_end_mon').selectedIndex, $('hours_mon_closed').checked, $('hours_mon_open').checked);" class="down">Copy to all</a>
          <br/>
        <% end %>
        <span>
          <%= check_box_tag "arcade[all_hours][][closed]", true, false, { :id => "hours_#{hour.dayofweek}_closed", :class => "closed", :onchange => "javascript:closedChanged(\"#{hour.dayofweek}\", !this.checked);" } %>
          <label for="hours_<%= hour.dayofweek %>_closed">Closed</label>
        </span>

        <span>
          <%= check_box_tag "arcade[all_hours][][open]", true, false, { :id => "hours_#{hour.dayofweek}_open", :class => "open", :onchange => "javascript:openChanged(\"#{hour.dayofweek}\", !this.checked);" } %>
          <label for="hours_<%= hour.dayofweek %>_open">24 Hours</label>
        </span>
      </span>      
    </li>
    <% end %>
    <% end %>
  </ul>
  
  <hr />
    
  <p class="block">
    <label for="arcade_notes">Notes:</label>
    <span class="info">Is there anything specific about this arcade others would find useful?
    <br/><br/>You Can use the following tags: <%= ALLOWED_HTML_TAGS.join(', ') %>
    </span>
    <%= error_message_on "arcade", "notes",  { :prepend_text => "Notes " } %>
    <%= f.text_area :notes, { :class => 'text' } %>
  </p>
</div>

<p class="clear right">
  <%= submit_tag "Review »", :class => "big-button right" %>
</p>