  <ul class="left data span-10 scrollable content-height map shift-1">
  <% for arcade in arcades %>
  	<li class="<%= cycle("even","odd")%> clear">
		  <div class="right">
		    <% if addressed_in? -%>
		      <%= arcade.address.distance_to(current_address).round_to(2) %> miles away<br/>
		    <% end %>
		    <a href="#" onclick="arcades.showMarker(1);return false;">Show on Map</a>
		  </div>
      <div class="left">
  		  <%= link_to(arcade.name, arcade_path(arcade)) %><br/>
	    	<%= arcade.address.city %>, <%= arcade.address.region.name %><br/>
        <strong>Games:</strong> <%= arcade.games.count %>
		  <div>
  	</li>
  <% end %>
  </ul>