<hr class="clear" />

<div>
  <div class="left map_box_width">
  
    <% if current_session.addressed_in? %>
      <span class="block">
      <label for="range_form">Within:</label>
      <% form_tag ranges_path, :id => 'range_form' do %>
        <%= select("session",
                   "arcade_range", 
                   [['Everywhere', '0'], ['5 miles', 5], ['10 miles', 10], ['25 miles', 25], ['50 miles', 50], ['100 miles', 100], ['250 miles', 250], ['500 miles', 500], ['1,000 miles', 1000], ['5,000 miles', 5000] ],
                   {:selected => current_session.arcade_range },
                    :class => 'text',
                    :onchange => "javascript:$('range_form').submit();"
                   ) %>
      <% end %>
      </span>
    <% end %>
    
    <p>
    <% if logged_in? %>
      Know of an arcade not listed here? <%= link_to "Add it!", new_arcade_path %>
    <% else %>
      Know of an arcade not listed here? Just <%= link_to "Sign In", signin_path %> or <%= link_to "Register", signup_path %> and you'll be able to add it.
    <% end -%>
    </p>
  </div>


  <div class="right">
    <h3>Sort Arcades By...</h3>
    <ul>
      <%= nav_link "Sort by Name", "?order=name" %>
      <%- if current_session.addressed_in? %>
      <%= nav_link "Sort by Distance", "?order=distance" %>
      <%- end -%>
      <%= nav_link "Sort by Number of Favorites", "?order=favorites" %>
      <%= nav_link "Sort by Number of Games", "?order=games" %>
    <ul>
  </div>
</div>
