<% title 'Arcades' + separator + @arcade.name + separator + 'Games' %>

<%= render :partial => 'arcades/menu', :locals => { :arcade => @arcade } %>

<% tabbed_box do %>
  <h1><%= @title %></h1>

  <% if @arcade.has_games? %>
    <%= render :partial => 'games/games', :object => @games %>
  <% else %>  
    <p><strong><%= @arcade.name %></strong> doesn't have any favorite games that we know about.</p>
  <% end %>
<% end %>

<%= render :partial => "arcades/footer" %>