<% title "Arcades Listing" -%>

<ul class="tabs right-tabs">
  <%= nav_link "Map", "arcades", "map" %>
  <%= nav_link "List", "arcades" %>
</ul>

<%= render :partial => 'arcades/list', :locals => { :arcades => @arcades } %>
  
<p class="right-tabbed">
  <%= will_paginate @arcades %>
  <% if role?('arcade_editor') %>
    <%= link_to 'New arcade', new_arcade_path, :class => 'admin' %>
  <% end %>
</p>