<% title "Arcades Map" -%>
<% stylesheet "map" %>

<% content_for(:header) do %>
  <%= GMap.header %>
  <%= javascript_include_tag("markerGroup") %>
	<%= @map.to_html %>
<% end %>

<ul class="tabs right-tabs">
  <%= nav_link "Map", "arcades", "map" %>
  <%= nav_link "List", "arcades" %>
</ul>

<div class="clear right-tabbed">
  <ul class="left data span-10 scrollable content-height map shift-1">
    <%= render :partial => 'arcade', :collection => @arcades %>
  </ul>
  <%= @map.div(:class => 'right prepend-1 span-13 last map_medium content-height map') %>
</div>

<ul class="clear right-tabbed">
  <%= link_to 'New arcade', new_arcade_path, :class => 'admin' %>
</ul>