<% title 'Arcades' + separator + @arcade.name + separator + 'Area Map' %>

<%= render :partial => 'menu', :locals => { :arcade => @arcade } %>

<% tabbed_box do %>  
  <h1><%= @title %></h1>
  <%= render :partial => 'shared/addressables', :object => [@arcade], :locals => { :options => { :large_map => true,
                                                                                                 :map_type => true,
                                                                                                 :class => 'map_big map',
                                                                                                 :autozoom => false } } %>
<% end %>

<% javascript do %>
  Event.observe(window, 'load', function() {
    arcade_group.showMarker('<%= @arcade.permalink %>');
  });
<% end %>
<%= render :partial => "arcades/footer" %>