<% title 'Arcades' + separator + @arcade.name + separator + 'Area Map' %>

<% content_for(:header) do %>
  <%= GMap.header %>
	<%= @map.to_html %>
<% end %>

<%= render :partial => 'menu', :locals => { :arcade => @arcade } %>

<% tabbed_box do %>  
  <h2><%= @title %></h2>
  <%= @map.div(:class => 'map_big map') %>
<% end %>