<% title "Create a New Arcade" -%>
<%- javascript 'dynamic_regions' %>

<% content_for(:header) do %>
  <script>
	function fill_down(start, stop) {
	  $$('#hours input.start').each( function(e) {
  	  $(e).value = start;
	  });
	  $$('#hours input.end').each( function(e) {
  	  $(e).value = to;
	  });
	}
	
	
	function closedChanged(day, show) {
	  if (show)
	    $(day+'_hours').style.visibility = '';
	  else
	    $(day+'_hours').style.visibility = 'hidden';
	}
	
	function hoursChanged(showAddHours) {
	  $$('#hours input').each( function(e) {
      if (showAddHours) {
  			$(e).removeClassName('disabled');
  			$(e).disabled = '';
  		}	else {
  			$(e).addClassName('disabled');
  			$(e).disabled = 'disabled';
  		}	
	  });
	  $$('#hours label').each( function(e) {
      if (showAddHours) {
  			$(e).removeClassName('disabled');
  		}	else {
  			$(e).addClassName('disabled');
  		}	
	  });
	}
	
	  Event.observe(window, 'load', function() {
      Form.focusFirstElement('new_arcade_form');
      hoursChanged(false);
      $('hide_hours').observe('click', function() {
        hoursChanged(false);
      });
      $('show_hours').observe('click', function() {
        hoursChanged(true);
      });
    });
  </script>
  
  <style>
  ul#hours li span.dayofweek {
    width:40px;
    display:block;
    float:left;
    text-align:right;
    padding-right:.4em;
    margin-top:.8em;
  }
  ul#hours li span.from_to {
    display:block;
    width:210px;
    float:left;    
  }
  ul#hours li span.options {
    margin-top:.8em;
    diplay:block;
    float:left;
  }
  ul#hours li input.text { width:70px; }
  </style>
<% end %>

<fieldset class="span-24">
  <legend>Editing <%= @arcade.name %></legend>

  <% form_for(:arcade, :url => new_arcade_1_path, :html => { :id => 'new_arcade_form' }) do |f| %> 
  
    <div class="column span-10">
      <p class="block">
        <label for="arcade_name">Arcade Name</label>
        <%= error_message_on "arcade", "name", "Arcade Name " %>
        <%= f.text_field :name, { :class => 'text' } %>
      </p>
          
      <% fields_for :address, @arcade.address do |a| %>
      <p class="block">	
        <label for="address_street">Street</label>
        <%= error_message_on "address", "street", "Street " %>
        <%= a.text_field :street, { :class => "text" } %>
      </p>
      <p class="block required">
        <label for="address_city">City</label>
        <%= error_message_on "address", "city", "City " %>
        <%= a.text_field :city, { :class => "text" } %>
      </p>
      <p class="block required">
        <label for="address_country_id">Country</label>
        <%= error_message_on "address", "country_id", "Country " %>
        <%= a.select :country_id, Country.find(:all).collect {|r| [ r.name, r.id ] }, 
                                  { :include_blank => true },
                                  { :class => "text", :id => "address_country_id" } %>
      </p>
      <p class="block required" id="address_region_id_field">
        <label for="address_region_id">State/Region</label>
        <%= error_message_on "address", "region_id", "State/Region " %>
        <%= a.select :region_id, Region.find(:all).collect {|r| [ r.name, r.id ] }, 
                                 { :include_blank => true },
                                 { :class => "text", :id => "address_region_id" } %>
      </p>
      <p class="block required">
        <label for="address_postal_code">Zip/Postal Code <a href="http://zip4.usps.com/zip4/welcome.jsp" target="_blank">[?]</a></label>
        <%= error_message_on "address", "postal_code", "Zip/Postal Code " %>
        <%= a.text_field :postal_code, { :class => "text" } %>
      </p>
    <% end %>
    </div>
    
    <div class="column span-14 last">
      <h3>Hours</h3>
  
      <p>
        <input id="hide_hours" name="add_hours" type="radio" value="false" checked="true" />
        <label for="hide_hours">Don't specify hours for this location right now.</label>
      </p>
      <p>
        <input id="show_hours" name="add_hours" type="radio" value="true" />
        <label for="show_hours">Specify hours for this location now.</label>
      </p>
      
     
      <ul id="hours">
        <% @arcade.hours.each do |hour| %>
        <% fields_for 'hours', hour do |h| %>
        <li class="clear">
          <span class="dayofweek"><%= hour.dayofweek.capitalize %>:</span>
          <span id="<%= hour.dayofweek %>_hours" class="from_to">
          <%= h.hidden_field :dayofweek, :value => hour.dayofweek %>
          <%= h.text_field :start, { :class => "text", :value => "12:00 PM", :size => 8 } %> to&nbsp;&nbsp;
          <%= h.text_field :end, { :class => "text", :value => "12:00 AM", :size => 8 } %>  
          </span>
          <span class="options">
            <%= check_box_tag 'hours[][closed]', true, false, { :onchange => 'javascript:closedChanged(this.value, !this.checked);' } %>
            <label for="hours_closed">Closed</label>
            <% if hour.dayofweek == 'Mon' -%><a href="javascript:fill_down();" class="down">Copy to all days</a><% end %>
          </span>
        </li>
        <% end %>
        <% end %>
      </ul>
      
      <p>
        <%= submit_tag "Next »" %>
      </p>
        
    </div>
  <% end %>
</fieldset>

<%= link_to 'Back', arcades_path %>


<!--  « Back-->
