<% title 'Arcades' + separator + @arcade.name + separator + 'Players Who Favorited this Arcade' %>

<%= render :partial => 'arcades/menu', :locals => { :arcade => @arcade } %>

<% tabbed_box do %>
  <h1><%= @title %></h1>

  <%= render :partial => 'profiles/profiles', :object => @profiles %>
  
  <% if !@arcade.has_profiles? %>
  <p>No one has favorited <strong><%= @arcade.name %></strong> just yet.</p>
  <% end %>
  
  <p>
    <%= will_paginate @profiles %>
  </p>

  <%= render :partial => 'arcades/favorite', :locals => { :show_text => true, :arcade => @arcade } if logged_in? %>
<% end %>
<%= render :partial => "arcades/footer" %>