<% title 'Arcades - ' + @arcade.name %>

<%= render :partial => 'menu', :locals => { :arcade => @arcade } %>

<% content_for(:header) do %>
  <%= GMap.header %>
	
	<%= @map.to_html %>
<% end %>

<div class="tabbed">
  <div class="right map_small_width center">
    <%= @map.div(:class => 'right prepend-1 span-13 last map_small map') %>
    <div>
  	  <strong><%= @arcade.name %></strong> is in <em><%= @arcade.address.city %>, <%= @arcade.address.region.name %></em>.
    </div>
  </div>
  
  <div class="span-14">
    <span class="right counts">
      <%= link_to pluralize(@arcade.playables_count, "game"), arcade_games_path(@arcade), :class=>"games" %>
      <%= link_to pluralize(@arcade.frequentships_count, "favorite"), arcade_users_path(@arcade), :class=>"users" %>
    </span>
    
    <p class="adr">
      <b>Address:</b><br/>
      <span class="street-address"><%= @arcade.address.street %></span><br/>
      <span class="locality"><%= @arcade.address.city %></span>, <span class="region"><%= @arcade.address.region.name %></span> <span class="postal-code"><%= @arcade.address.postal_code %></span><br/>
      <span class="country-name"><%= @arcade.address.country.name %></span><br/>
      <%= link_to "View Larger Map", arcade_map_path(@arcade) %>
    </p>

    <% if @arcade.frequentships_count > 0 -%>
    <p>
      Having been favorited by <em><%= pluralize(@arcade.frequentships_count, "user") %></em>, <%= @arcade.name %> is the <em>#<%= @users_popularity %> most favorited arcade</em>.
    </p>
    <% end -%>
    
    <% if @arcade.playables_count > 0 -%>
    <p>
      With <em><%= pluralize(@arcade.playables_count, "game") %></em>, <%= @arcade.name %> comes in with the <em>#<%= @games_popularity %> most games</em>.
    </p>
    <% end %>
    
    <% if addressed_in? -%>
    <p>
      <strong>Distance Away: </strong>
      <%= @arcade.address.distance_to(current_address).round_to(2) %> miles
    </p>
    <% end %>
    
    <% if logged_in? %>
      <p>
      <% if !current_user.has_favorite_arcade?(@arcade) %>
        <%= button_to "Add this arcade to your favorites", arcade_favorites_path(@arcade), { :method => "post", :class => "favorite_add" } %>
      <% else %>
        <%= button_to "Remove this arcade from your favorites", arcade_favorite_path(@arcade), { :method => "delete", :class => "favorite_delete" } %>
      <% end %>
      </p>
     <% end %>
  </div>
  
  <%= render :partial => 'footer', :locals => { :arcade => @arcade } %>
</div>  