<% title 'Arcades' + separator + @arcade.name %>
<%= render :partial => 'menu', :locals => { :arcade => @arcade } %>

<% tabbed_box do %>
  <div id="profile_overview">
    <div class="overview left_column">
      <span class="counts left shift-1">
        <%= link_to pluralize(@arcade.playables.size, "game"), arcade_games_path(@arcade), :class=>"games" %>
        <%= link_to pluralize(@arcade.frequentships.size, "favorite"), arcade_profiles_path(@arcade), :class=>"users" %>
      </span>
      <div class="short_description">
        <h1><%= h @arcade.name %></h1>
        <%= render :partial => 'arcades/favorite', :locals => { :show_text => true, :arcade => @arcade } if logged_in? %>
        <% unless @arcade.phone.nil? %>
        <p><strong>Phone Number:</strong> <%= @arcade.phone %></p>
        <% end %>
        
        <p class="adr">
          <b>Address:</b><br/>
          <span class="street-address"><%= @arcade.address.street %></span><br/>
          <span class="locality"><%= @arcade.address.city %></span>, <span class="region"><%= @arcade.address.region.name %></span> <span class="postal-code"><%= @arcade.address.postal_code %></span><br/>
          <span class="country-name"><%= @arcade.address.country.name %></span><br/>
          <%= link_to "View Larger Map", map_arcade_path(@arcade) %>
        </p>
    	</div>
    	<div class="left_column_content">
        <% if @arcade.has_profiles? -%>
          <p>
            Having been favorited by <em><%= pluralize(@arcade.frequentships.size, "user") %></em>,
            <%= @arcade.name %> is the <em>#<%= @arcade.frequentships_rank %> most favorited arcade</em>.
          </p>
        <% end -%>

        <% if @arcade.has_games? -%>
          <p>With <em><%= pluralize(@arcade.playables.size, "game") %></em>, <%= @arcade.name %> comes in with the <em>#<%= @arcade.playables_rank %> most games</em>.</p>
        <% end -%>

        <% if addressed_in? -%>
          <p>
            <strong>Distance: </strong>
            <%= @arcade.address.distance_to(current_address).round_to(2) %> miles away
          </p>
        <% end -%>
    	</div>
    </div>
  </div>
  <% if @arcade.has_address? -%>
    <div class="map_box right_column">
      <%= render :partial => 'shared/addressable', :object => @arcade %>
      <p class="center">
        <strong><%= @arcade.name %></strong> is in <em><%= @arcade.address.city %>, <%= @arcade.address.region.name %></em>.
      </p>
      <% if @arcade.tag_list.length > 0 %>
      <p class="center">
        <strong>It's considered a:</strong>
        <%= @arcade.tag_list.join(', ') %>
      </p>
      <% end %>
      
      <% if @arcade.has_hours? %>
      <ul style="margin:0 0 0 50px; border:0; width:250px;">
        <% @arcade.hours.each do |hour| %>
          <li>
            <strong><%= hour.dayofweek.capitalize %></strong>: 
            <% if hour.closed? %>
              Closed
            <% else %>
              <%= hour.start.strftime("%I:%M %p") %> to <%= hour.end.strftime("%I:%M %p") %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= render :partial => 'footer' %>
