<% title 'Arcades - ' + @arcade.name %>

<%= render :partial => 'menu', :locals => { :arcade => @arcade } %>

<% content_for(:header) do %>
  <%= GMap.header %>
	
	<%= @map.to_html %>
<% end %>

<div class="tabbed">
  <%= @map.div(:class => 'right prepend-1 span-13 last map_small map') %>
  <div class="clear right map_small_width center">
  	<strong><%= @arcade.name %></strong> is in <em><%= @arcade.address.city %>, <%= @arcade.address.region.name %></em>.
  </div>
  	
  <p class="adr">
    <b>Address:</b><br/>
    <span class="street-address"><%= @arcade.address.street %></span><br/>
    <span class="locality"><%= @arcade.address.city %></span>, <span class="region"><%= @arcade.address.region.name %></span> <span class="postal-code"><%= @arcade.address.postal_code %></span><br/>
    <span class="country-name"><%= @arcade.address.country.name %></span><br/>
    <%= link_to "View Map", "/arcades/#{@arcade.id}/map" %>
  </p>
  <p>
    <b>Games at this location:</b> <%= @arcade.games.count %> ( <%= link_to "view them", arcade_games_path(@arcade) %> )
  </p>
  <p>
    <strong><%= @arcade.users.count %> players</strong> on this site frequent <%= @arcade.name %>.
  </p>
  
  <% if logged_in? && current_user.has_address? -%>
  <p>
    <strong>Distance Away: </strong>
    <%= @arcade.address.distance_to(current_user.address).round_to(2) %> miles
  </p>
  <% end %>
  
  <% if logged_in? && !(current_user.arcades.collect do |a| a.id end).include?(@arcade.id) %>
  <p>
    <%= link_to "Add this arcade to your favorites", arcade_favorite_path(@arcade), { :method => "post" } %>
  </p>
  <% end %>

  <%= render :partial => 'footer', :locals => { :arcade => @arcade } %>
</div>  