<% title "Settings for #{@user.login}" %>
<%= error_messages_for :user %>

<%= render :partial => 'users/menu', :locals => { :user => @user } %>

<div class="tabbed column span-15 clear">
  <% form_for :user do |f| -%>
    <fieldset>
      <legend>Change Password</legend>
      <p class="block">
        <label for="user_old_password">Current Password</label>
        <input class="text" id="user_old_password" name="old_password" size="30" type="password" />
      </p>
      <p class="block">
        <label for="user_password">New Password</label>
        <%= f.password_field :password, { :class => 'text' } %>
      </p>
      <p class="block">
        <label for="user_password_confirmation">Confirm New Password</label>
        <%= f.password_field :password_confirmation, { :class => 'text' } %>
      </p>
      <p>
        <%= submit_tag "Change Password" %>
      </p>
    </fieldset>
  <% end %> 
</div>

<%= render :partial => 'menu', :locals => { :user => @user } %>