<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>ArcadeFly<%= separator -%><%= yield(:title) || "Arcade and Game Locations" %></title>

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="keywords" content="arcade games, arcades, gaming, video games, game locations, arcade locations, play games, play arcade games, where to play games" />
  <meta name="description" content="ArcadeFly.com is a social network for gamers and arcade game enthusiasts. Want to know where an arcade is, or have a game in mind and want to know where to play it? We're your place!" />
  
  <%= stylesheet_link_merged :arcadefly %>

  <%= yield(:header) -%>
</head>
<body<%= " class=\"#{params[:controller]}\"" unless params[:controller].nil? %>>
	<div id="main">
    <div class="container">
    	<div id="header">        
        <ul id="menu">
          <li><%= link_to "Home", root_path %></li>
  		    <li><%= link_to "Arcades", arcades_path %></li>
  		    <li><%= link_to "Games",   games_path %></li>
  		    <li><%= link_to "Players", profiles_path %></li>
  		    <li><%= link_to "Popular", popular_path %></li>
          <%- if logged_in? -%>
            <% if administrator? %><li><%= link_to "Claims (#{Claim.pending.count})", claims_path %></li><% end %>
            <li><%= link_to "My Profile", profile_path(current_profile) %></li>
            <li><%= link_to "Logout", logout_path %></li>
          <%- else -%>
            <li><%= link_to "Register", signup_path %></li>
            <li><%= link_to "Sign In", signin_path %></li>
            <%- if current_session.addressed_in? %>
              <li><%= link_to "Clear Address", logout_path %></li>
            <% end -%>
  		    <%- end -%>
        </ul>
        <% if current_session.addressed_in? %>
        <p class="right clear shift-1">
          <strong>Browsing from: <%= current_session.address.single_line %></strong>
        </p>
        <% end %>
            
      	<div id="logo">
          <strong><a href="/">ArcadeFly.com</a></strong>
          <small>Mapping the arcade buzz!</small>
        </div>
      </div>
  
      <div id="content">
    		<% flash.each do |key, msg| %>
    		  <%= content_tag :div, msg, :class => key %>
    		<% end %>
		    <%= yield %>
      </div>
    </div>
  </div>
  
    
  <div id="footer">
    <div class="container">
      <div class="footer_column long">
        <h3>Copyright &copy; 2007-2008 ArcadeFly. Development by <a href="http://www.adamfortuna.com">Adam Fortuna</a>.</h3>
        <p>You can read more about ArcadeFly on our <a href="http://blog.arcadefly.com">Blog</a></p>
        <p>
          <a href="http://validator.w3.org/check?uri=referer"><%= image_tag "#{ASSET_HOST}/images/w3c_blue.png" %></a>
        </p>
  		</div>
      <div class="footer_column">
        <h3>More Links</h3>
  			<ul>
  	      <li><%= link_to "About ArcadeFly", about_path %></li>
          <li><%= link_to "Help", help_path %></li>
  	      <li><%= link_to "Contact Us", contact_path %></li>
  	      <li><%= link_to "Terms of Use", terms_path %></li>
  	      <li><%= link_to "Privacy Policy", privacy_path %></li>
  	      <li><a href="http://blog.arcadefly.com">Blog</a></li>
        </ul>
      </div>
      <div class="footer_column">
        <h3>Quick Links</h3>
  			<ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Arcades", arcades_path %></li>
          <li><%= link_to "Games", games_path %></li>
          <li><%= link_to "Players", profiles_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <%= javascript_include_merged :application %>
  <%= yield(:javascript) -%>
  <%- if Rails.env.production? -%>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-90326-5");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
  <%- end -%>
</body>
</html>