<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>ArcadeFly<%= separator -%><%= yield(:title) || "Tracking the arcade buzz!" %></title>
  
  <%= stylesheet_link_tag 'application', 'common_classes', 'forms' %>

  <%= javascript_include_tag 'prototype', 'application' %>

  <%= yield(:head) %>
  <%= yield(:header) %>
</head>
<body>
	<div id="main">
    <div class="container">
    	<div id="header">        
        <ul id="menu">
  		    <li><%= link_to "Arcades", addressed_in? ? arcades_path : browse_arcades_path %></li>
  		    <li><%= link_to "Games",   games_path %></li>
  		    <li><%= link_to "Players", profiles_path %></li>
  		    <li><%= link_to "Popular", popular_path %></li>
          <%- if logged_in? -%>
            <li><%= link_to "My Profile", profile_path(current_profile) %></li>
            <li><%= link_to "Logout", logout_path %></li>
          <%- elsif addressed_in? %>
            <li><%= link_to "Clear Address", logout_path %></li>
          <%- else -%>
            <li><%= link_to "Register", signup_path %></li>
            <li><%= link_to "Sign In", signin_path %></li>
  		    <%- end -%>
        </ul><!-- end ul#menu -->
            
      	<div id="logo">
          <a href="/">
            <h1>ArcadeFly.com</h1>
            <small>Mapping the arcade buzz!</small>
          </a>
        </div>
      </div><!-- end div#header -->
  
      <div id="content">
    		<% flash.each do |key, msg| %>
    		  <%= content_tag :div, msg, :class => key %>
    		<% end %>
		    <%= yield %>
      </div><!-- end div#{content} -->
    
    </div><!-- div#main .container -->
  </div><!-- div#main -->
  
    
  <div id="footer">
    <div class="container">
      <div class="footer_column long">
        <h3>Copyright &copy; 2007 ArcadeFly. Development by <a href="http://www.adamfortuna.com">Adam Fortuna</a>.</h3>
        <p>You can read more about ArcadeFly on our <a href="http://blog.arcadefly.com">Blog</a></p>
  		</div>
      <div class="footer_column">
        <h3>More Links</h3>
  			<ul>
  	      <li><%= link_to "About ArcadeFly", about_path %></li>
          <li><%= link_to "Help", help_path %></li>
  	      <li><%= link_to "Contact Us", contact_path %></li>
  	      <li><%= link_to "Terms of Use", terms_path %></li>
  	      <li><%= link_to "Privacy Policy", privacy_path %></li>
  	      <li><%= link_to "Site Map", site_map_path %></li>
  	      <li><a href="http://blog.arcadefly.com">Blog</a></li>
        </ul>
      </div>
      <div class="footer_column">
        <h3>Quick Links</h3>
  			<ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Arcades", arcades_path %></li>
          <li><%= link_to "Games", games_path %></li>
          <li><%= link_to "Players", profiles_path %></li>
        </ul>
      </div>
    </div><!-- end container -->
  </div><!-- end footer -->
</body>
</html>