<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>ArcadeFly<%= separator -%><%= yield(:title) || "Arcade and Game Locations" %></title>

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="keywords" content="arcade games, arcades, gaming, video games, game locations, arcade locations, play games, play arcade games, where to play games" />
  <meta name="description" content="<%= yield(:description) || "A social network for gamers and arcade game enthusiasts. Want to know where an arcade is, or have a game in mind and want to know where to play it? We're your place!" %>" />
  
  <%= stylesheet_link_merged :arcadefly %>
  <style type='text/css'>@import url('http://s3.amazonaws.com/getsatisfaction.com/feedback/feedback.css');</style>

  <%= yield(:header) -%>
</head>
<body<%= " class=\"#{params[:controller]}\"" unless params[:controller].nil? %>>

  <div class="wrap background">
    
    <div id="header">
      <div id="logo">
  		  <strong><a href="#">ArcadeFly.com</a></strong>
  		  <span>Tracking the Arcade Buzz!</span>
  		</div>
  		<div id="controls">
  		  <% if addressed_in? %>
          <p class="here"><strong>Browsing from: <%= link_to current_session.address.single_line, arcades_path %></strong></p>          
        <% end %>
        <%- if logged_in? -%>
          <div id="my_controls">
            <ul>
              <li><%= link_to "My Profile", profile_path(current_profile) %></li>
              <li><%= link_to "My Claims", profile_path(current_profile) %></li>
              <li><%= link_to "My Messages", profile_path(current_profile) %></li>

              <li><%= link_to "Logout", logout_path %></li>
              <% if current_session.profile.has_followers? -%>
                <li><%= link_to "Friend Requests (#{current_session.profile.followers_count})", profile_friends_path(current_session.profile) %></li>
              <% end -%>
            </ul>
          </div>
        <%- else -%>
    		  <div id="login">
    				<form action="" method="post">
    				  <span id="forgot">
    				    <a href="">Forgot your password?</a> or <%= link_to "Register", signup_path %>
    				  </span>
    					<input type="text" name="email" id="email" value='Email' onfocus="javascript:if(this.value=='Email') this.value='';" onblur='javascript:if(this.value=="") this.value="Email"' />
  					  <input type="password" name="pass" id="pass" />
      				<span id="remember">
    					  <input type="checkbox" id="remember_me" />
    					  <label for="remember_me">Remember Me</label>
    					</span>
    					<input type="submit" name="login" value="login" />
    				</form>
    			</div>
  			<% end %>
  		</div>
    </div>
  
    <div id="navigation">  
    	<ul id="menu">
    		<li><%= link_to_with_class "HOME", root_path, :class => "current" %></li>
    		<li><%= link_to_with_class "ARCADES", arcades_path, :class => "current" %></li>
    		<li><%= link_to_with_class "GAMES",   games_path, :class => "current" %></li>
    		<li><%= link_to_with_class "PLAYERS", profiles_path, :class => "current" %></li>
    		<li><%= link_to_with_class "POPULAR", popular_path, :class => "current" %></li>
    		<% if administrator? %><li><%= link_to "Claims (#{Claim.pending.count})", claims_path %></li><% end %>
    		<li><a href="http://blog.arcadefly.com">BLOG</a></li>
    	</ul>
    	<div id="search">
    		<form action="">
    			<fieldset>
    				<input type="text" class="field" value="Search for arcades or games..." onfocus="javascript:if(this.value=='Search for arcades or games...') this.value='';" onblur='javascript:if(this.value=="") this.value="Search for arcades or games..."' />
    				<input type="submit" class="button" value="" />
    			</fieldset>
    		</form>
    	</div>
    </div>
    
    <div id="content">
  		<% flash.each do |key, msg| %>
  		  <%= content_tag :div, msg, :class => key %>
  		<% end %>
	    <%= yield %>
    </div>
    
  </div>

  <div id="footer">
    <div class="wrap">
      <div class="long">
        <p>Found a bug? Have a suggestion? Just an idea? <a href="http://getsatisfaction.com/arcadefly" target='_blank'>Let us know!</a></p>
        <p>COPYRIGHT &copy; 2008 <a href="http://www.adamfortuna.com">Adam Fortuna</a>. Design by <a href="http://www.solucija.com/">Luka Cvrk</a>.</p>  	
      </div>
      <div>
  			<h2>Quick Links</h2>
  			<ul>
  			  <li><%= link_to "About ArcadeFly", about_path %></li>
          <li><%= link_to "Help", help_path %></li>
  	      <li><%= link_to "Contact Us", contact_path %></li>
  	      <li><%= link_to "Terms of Use", terms_path %></li>
  	      <li><%= link_to "Privacy Policy", privacy_path %></li>  	      
  			</ul>
      </div>
  		<div>
  			<h2>Want to help?</h2>
  			<p>Claim an arcade. Edit games at an arcade. Volunteer to help maintain the games list. Report bugs.</p>
  		</div>
  	</div>
  </div>
  

  <%= javascript_include_merged :application %>
  <%= yield(:javascript) -%>
  <script src='http://s3.amazonaws.com/getsatisfaction.com/feedback/feedback.js' type='text/javascript'></script>
  <script type="text/javascript" charset="utf-8">
   GSFN.feedback('http://getsatisfaction.com/arcadefly/feedback');
  </script>
  
  <%- if Rails.env.production? -%>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-90326-5");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
  <%- end -%>
</body>
</html>