<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>ArcadeFly<%= separator -%><%= yield(:title) || "Arcade and Game Locations" %></title>
	<%= stylesheet_link_tag 'iui', :cache => true %>  
	<%= yield(:header_files) -%>
  <%= yield(:header) -%>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
  <%= yield(:javascript_files) -%>
  <%= yield(:javascript) -%>

</head>
<body>
  <div class="toolbar">
    <h1 id="pageTitle">ArcadeFly.com</h1>
    <a id="backButton" class="button" href="#"></a>
    <a href="http://www.arcadefly.com/search" class="button" id="searchButton" target="_self">Search</a>
  </div>
  <%= yield %>
  

</body>
</html>